.AnchorPane {
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #d7e1f4);
    -fx-border-color:  #1b325e;
    -fx-border-width: 3;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button {
    -fx-background-color: #1b325e;
    -fx-background-radius: 5;
    -fx-font-size: 16px;
    -fx-border-color:  #1b325e;
    -fx-border-radius:  5;
    -fx-border-width: 3;
    -fx-text-fill: #c4d2ee;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 14px;
    -fx-text-fill: #1b325e;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: #88a6dd;
}